body{
    background: linear-gradient(180deg, #65e886 0%, #31729a 100%);
    width: 1300px;
}
#me{
    width: 180px;
    height: 180px;
    border-radius: 999px;
    margin-left: 42%;
    margin-top: -28px;
    box-shadow: 0px 0px 10px black;
}
li{
    list-style: none;
}

#menu{
    padding: 1%;
    margin-top: -10px;
}
#menu li{
float: right;
list-style: none;
}
#menu li a{
    text-decoration: none;
    text-align: center;
    color: rgb(17, 12, 88);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 100px;
    font-size: 18px;
}
#center{
    display: block;
    text-align: center;
    font-size: x-large;
}
#center h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(19, 18, 18);
}
#center h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
    color: rgb(18, 17, 17);
}
.icon{
    width: 60px;
    margin-left: -49px;
    margin-top: -16px;
}
footer{
    text-align: center;
    margin-right: 38px;
    margin-top: 20px;
}
.redes{
    width: 35px;
    height: 35px;
    padding: 1%;
}
.boton{
   text-align: center;
   display: block;
   margin-left: 575px;
   margin-top: 20px;
   padding: 1%;
   border-radius: 500px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-weight: bold;
   background: none;
   font-size: 16px;
}