body{
    background: linear-gradient(180deg, #65e886 0%, #31729a 100%);
    width: 1300px;
    min-height: 500px;
}
li{
    list-style: none;
}
#cajas{
    margin-left: 100px;
}
.caja{
    display: block;
    float: left;
    width: 300px;
    height: 300px;
    border: 5px solid rgb(12, 7, 39);
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(223, 223, 223);
    border-radius: 20px;
}
.caja> img{
    width: 300px;
    border-radius: 5px 5px 0px 0px;
}
.caja p {
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
text-align: center;
padding: 0px 5px 0px 5px;
}
#menu{
    padding: 1%;
    margin-top: -10px;
}
#menu li{
float: right;
list-style: none;
}
#menu li a{
    text-decoration: none;
    text-align: center;
    color: rgb(17, 12, 88);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 100px;
    font-size: 18px;
}
#center{
    display: block;
    text-align: center;
    font-size: x-large;
}
#center h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(19, 18, 18);
}
#center h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
    color: rgb(18, 17, 17);
}
.icon{
    width: 60px;
    margin-left: -49px;
    margin-top: -16px;
}
.clearfix{
    clear: both;
}
footer{

    text-align: center;
    margin-right: 48px;
    margin-top: 20px;
}
.redes{
    width: 35px;
    height: 35px;
    padding: 1%;
}
.boton{
   text-align: center;
   display: block;
   margin-top: 20px;
   margin-left:570px ;
   padding: 1%;
   border-radius: 500px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-weight: bold;
   background: none;
   font-size: 16px;
}